html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--background);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #f5f6f8;
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #fff;
  --primary: #7653fc;
  --primary-hover: rgba(105, 73, 229, 0.78);
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
